layout {
    background-color "transparent"

    focus-ring {
        active-color   "#904a42"
        inactive-color "#857370"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#904a42"
        inactive-color "#857370"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#904a42"
        inactive-color "#857370"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#904a4280"
    }
}