@import 'colors.css';
@import 'custom-colors.css';

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

window#waybar {
    background: transparent;
    color: @text_color;
    border-radius: 0px;
    transition-property: background-color;
    transition-duration: .0s;
}

.modules-left,
.modules-center,
.modules-right {
    background-color: @background;
    border-radius: 5px;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty {
    background-color: transparent;
}

/*
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 0px transparent;
    /* Avoid rounded borders under each button name */
    /* border: none; */
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 0px #ffffff;
    border-radius: 10px;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    color: #3F3F3F;
}

#workspaces button {
    padding: 0 5 0 5px;
    background-color: transparent;
    color: @text_color;
    background: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 0px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

/* center the damm circle */
#workspaces button label {
    margin-left: -5px;
}

#workspaces button.active {
    background: rgba(0, 0, 0, 0.2);
    /* border-radius: 16px; */
    /* min-width: 10px; */
    /* background-size: 300% 300%; */
    transition: all 0.3s ease-in-out;
}


#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
}

#window,
#workspaces {
    margin-left: 5;
    margin-right: 5;
}

#battery.charging,
#battery.plugged {
    color: #77ff77;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network {
    padding-right: 25;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
}

#idle_inhibitor {
    color: #000000;
}

#idle_inhibitor.activated {
    color: #999999;
}
