@define-color background #fff8f6;
@define-color crust #11111b; /* replaced with Matugen's surface_container_lowest #ffffff */
@define-color surface2 #585b70; /* replaced with Matugen's on_surface_variant #53433e */
@define-color blue #89b4fa; /* replaced with Matugen's primary_fixed_dim #ffb59c */
@define-color mauve #cba6f7; /* replaced with Matugen's tertiary_fixed #f3e2a7 */
@define-color red #f38ba8; /* replaced with Matugen's error #ba1a1a */
@define-color peach #fab387; /* replaced with Matugen's primary_container #ffdbcf */
@define-color green #a6e3a1; /* replaced with Matugen's tertiary #6a5e2f */
@define-color text #cdd6f4; /* replaced with Matugen's on_surface #231917 */

* {
  font-family:
    "JetBrainsMono NF",
    "Symbols Nerd Font";
  font-weight: bolder;
  font-size: 14px;
}

window#waybar {
  background-color: transparent;
  color: @primary_fixed_dim;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

#workspaces button:hover {
  color: @primary_fixed_dim;
  box-shadow: inherit;
  text-shadow: inherit;
  background: @surface_container_lowest;
  border: @surface_container_lowest;
}

#workspaces button.empty {
  color: #44475a;
}

#workspaces button {
  padding: 0 5px;
  color: @on_surface_variant;
  margin: 4px 0 4px 0;
  transition: color 200ms ease-in-out;
}

#workspaces button.selected {
  color: @primary_fixed_dim;
}

#workspaces button.active {
  color: @tertiary_fixed;
}

#workspaces button.urgent {
  color: @error;
}

#image {
  margin: 4px 0 4px 10px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network.wifi,
#network.disconnected,
#wireplumber,
#custom-pacman,
#custom-power,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
  padding: 0 6px;
  color: @on_surface;
  border-radius: 15px;
  margin: 5px 0;
}

#power-profiles-daemon.balanced,
#power-profiles-daemon.power-saver {
  margin-right: 7px;
}

#pulseaudio {
  padding: 0 10px;
  color: @on_surface;
  border-radius: 15px;
  margin: 5px 0;
}

#window,
#workspaces {
  margin: 0 4px;
}

.modules-left>widget:first-child>#workspaces {
  margin-left: 2px;
}

#clock {
  color: @on_surface;
}

#custom-pacman {
  color: @primary_container;
}

#pulseaudio {
  color: @tertiary_fixed;
}

#pulseaudio.muted {
  color: @on_surface_variant;
}

#network {
  color: @primary_fixed_dim;
}

#network.disconnected {
  color: @on_surface_variant;
}

#network.ethernet {
  margin-right: 8px;
  margin-left: 8px;
}

#battery {
  color: @tertiary;
}

#battery.warning:not(.charging) {
  color: @error;
}

#custom-power {
  color: @secondary;
}

#bluetooth {
  margin-right: 10px;
  font-size: 17px;
  color: white;
}

#keyboard-state>label {
  padding: 0 5px;
}

#keyboard-state>label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}

.modules-left {
  background-color: @surface_container_lowest;
  border-radius: 10px;
  padding-right: 10px;
  margin: 5px 0 0 10px;
}

.modules-center {
  background-color: @surface_container_lowest;
  border-radius: 10px;
  padding: 0 10px;
  margin-top: 5px;
  border: solid cyan 2px;
}

.modules-right {
  background-color: @surface_container_lowest;
  border-radius: 10px;
  padding: 0 10px;
  margin: 5px 10px 0 0;
}

#custom-spotify {
  color: #6fcf97;
  padding-right: 10px;
}

#custom-notification {
  color: white;
  padding-right: 10px;
}

