[Desktop Entry]
Type=Application
Name=Random Wallpaper
Exec=fish -c "waypaper --random --folder $wall_dir"
Comment=Choose a random wallpaper, theme agnostic
Icon=?
Terminal=false
Categories=Wallpaper;Theme;
