[Desktop Entry]
Type=Application
Name=Start/Stop Recording
Exec=/home/evolve/.config/hypr/scripts/record.fish --fullscreen-sound
Icon=
Terminal=false
